<h1>Nos restaurants</h1>

<% @restaurants.each do |resto| %>
  <ol>
  <li> <%= link_to resto.name, resto %> </li>
  </ol>
<% end %>

<%= link_to "Créer un nouveau restaurant", new_restaurant_path, class: "btn btn-primary" %>
